*.Rproj
.Rproj.user
*~
.Rhistory
inst/ext/empirical
inst/ext/pirs_simulations
inst/ext/simulations
inst/ext/toy_sample_simu
inst/ext/populus
inst/ext/eucalyptus
inst/ext/populus8.5
tests/
rose/
inst/ext/acca
inst/ext/euc
inst/ext/rose
inst/ext/populus_simu